*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
}


#calculator {
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 15%);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

#display {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  color: white;
  background-color: hsl(0, 0%, 20%);
}



button {
  height: 100px;
  width: 100px;
  border: none;
  border-radius: 50px;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: hsl(0, 0%, 40%);
}

button:active {
  background-color: hsl(0, 0%, 50%);
}

.op {
  background-color: hsl(35, 100%, 55%);
}

.op:hover {
  background-color: hsl(35, 100%, 65%);
}

.op:active {
  background-color: hsl(35, 100%, 75%);
}

.del, .ac {
  font-size: 2.2rem;
}

.close {
  font-size: 1.9rem;
}

.close:hover {
  background-color: rgb(255, 78, 62);
}

@media (max-width: 400px) {
  #calculator {
    width: 300px;
  }
  button {
    font-size: 1.5rem;
    height: 55px;
    width: 55px;
  }
  .ac, .del, .close {
    font-size: 1rem;
  }
  #display {
    font-size: 2rem;
  }
}